%rebase('osnova.html', naslov='Košara')

<h1>Vaša košara</h1>

<style>
    #podatki{
    width:100%;
    }

    #razsirjene{
    padding: 13px;
    }
</style>

<body>
%if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
%end

%if izrisi:
<table class="table table-bordered table-hover" style="margin-top:30px;">
 <thead class="thead-light">
	<tr>
	   <th scope="col">Ime</th>
	   <th scope="col">Proizvajalec</th>
	   <th scope="col">Kategorija</th>
	   <th scope="col">Ocena</th>
	   <th scope="col">Popust</th>
	   <th scope="col">Cena</th>
	</tr>
  </thead>
  <tbody>
  %for (id,ime,proizvajalec,kategorija,ocena,popust,cena) in izdelki:
              <tr>
                 <td><a href="/izdelek/{{id}}/">{{ime}}</a></td>
                 <td>{{proizvajalec}}</td>
                 <td>{{kategorija}}</td>
                 <td>{{ocena}}</td>
				 <td>{{popust}}</td>
				 <td>{{cena}}</td>
              </tr>
            %end
  </tbody>
</table>

<div class="container rounded shadow" style="background-color: #f2f2f2;margin-bottom:20px">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body">
				<table id="podatki">
					<tr id="razsirjene">
						<th id="razsirjene">Število izdelkov: </th>
						<th class="font-weight-normal" id="razsirjene">{{stevilo_izdelkov}} </th>
						<th id="razsirjene">Cena brez popusta: </th>
						<th class="font-weight-normal" id="razsirjene">{{brez_popusta}} </th>
						<th id="razsirjene">Cena z popustom: </th>
						<th class="font-weight-normal" id="razsirjene">{{z_popustom}} </th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
  
<div class="row">
        <div class="col">
			<div class="row float-right">
				<a class="btn btn-dark btn-md active" style="margin-right: 5px; height: 39px;" href="/nakup">Nadaljuj do nakupa</a>
			</div>
        </div>
    </div>
  
</body>
%end